body {
    margin-top: 10%;
    background-color: gray;
    text-align: center;
}

h1 {
    color: white;
    font-size: 50px;
}

p {
    font-size: 30px;
}

select {
    padding: 5px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: black;
    color: white;
}

section {
    margin-bottom: 30px;
}

button {
    background-color: black;
    color: white;
    padding: 5px;
    padding-left: 40px;
    padding-right: 40px;
}